<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LC Blogs: ASEAN+3 Mobility Program 2023</title>
    {% extends 'root.html' %}
  </head>
  <body>
    {% block body %}
    <br />
    <main class="mx-3 my-3">
      <h1 style="color: navy; font-weight: bold; font-size: xx-large">
        LukeCreated
      </h1>
      <h2>Blogs: ASEAN+3 Mobility Program 2023 EP.01 - Taiwan</h2>
      <hr class="my-1" />
      <article class="mx-2 my-2" style="color: crimson" id="metaData">
        <span style="font-weight: bold">Content Info:</span>
        <ul>
          <li>Writen by: KITTIPICH "Luke" AIUMBHORNSIN</li>
          <li>Content last updated on: SEPTEMBER 13, 2023</li>
          <li>Content available in: English</li>
          <li>Blog last updated: September 13, 2023</li>
        </ul>
        <a
          style="color: green"
          href="https://drive.google.com/drive/folders/16aAPZ_axyy0QDr9xpg3ZEzsPdNeyxYEg?usp=sharing"
          target="_blank"
          ><u>Click to see Pictures & Videos</u></a
        >
      </article>
      <hr />
      <div id="another-blog" class="py-1" align="center">
        You might interest in... <br />
        <a
          class="btn btn-primary"
          type="button"
          style="color: greenyellow"
          href="https://blogs.lukecreated.com/view/1"
          >UPs+ Spring Program 2023 in Taiwan</a
        >
      </div>
      <hr />
      <article class="mx-2 my-2 px-2 py-2" style="font-size: larger">
        [content]
      </article>

      <p class="my-3" style="color: orangered">
        P.S.II Source for images & videos are here:
        <a
          href="https://drive.google.com/drive/folders/16aAPZ_axyy0QDr9xpg3ZEzsPdNeyxYEg?usp=sharing"
          target="_blank"
          >Click here!</a
        >
      </p>
      KITTIPICH AIUMBHORNSIN <br />
      FACULTY OF INFORMATION AND COMMUNICATION TECHNOLOGY, MAHIDOL UNIVERSITY
      <br />

      <br />
      <br />
      <hr class="my-1" />
      <footer align="center">THANK YOU!</footer>
      <br />
    </main>

    {% endblock %}
  </body>
</html>
