<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LC Blogs: ASEAN+3 Mobility Program 2023</title>
    {% extends 'root.html' %}
  </head>
  <style>
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }
    .embed-container iframe,
    .embed-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <body>
    {% block body %}
    <br />
    <main class="mx-3 my-3">
      <h1
        style="color: navy; font-weight: bold; font-size: xx-large"
        onclick="window.location='https://www.lukecreated.com';"
      >
        LukeCreated
      </h1>
      <h1 onclick="window.location='https://blogs.lukecreated.com';">
        LC Blogs
      </h1>
      <h2>ASEAN+3 Mobility Program 2023 EP.01 - Taiwan</h2>
      <hr class="my-1" />
      <article class="mx-2 my-2" style="color: crimson" id="metaData">
        <span style="font-weight: bold">Content Info:</span>
        <ul>
          <li>Writen by: KITTIPICH "Luke" AIUMBHORNSIN</li>
          <li>Content last updated on: SEPTEMBER 13, 2023</li>
          <li>Content available in: English</li>
          <li>Blog last updated: September 13, 2023</li>
        </ul>
        <a
          style="color: green"
          href="https://drive.google.com/drive/folders/16aAPZ_axyy0QDr9xpg3ZEzsPdNeyxYEg?usp=sharing"
          target="_blank"
          ><u>Click to see Pictures & Videos</u></a
        >
      </article>
      <hr />
      <div id="another-blog" class="py-1" align="center">
        You might interest in... <br />
        <a
          class="btn btn-primary"
          type="button"
          style="color: greenyellow"
          href="https://blogs.lukecreated.com/view/1"
          >UPs+ Spring Program 2023 in Taiwan</a
        >
      </div>
      <hr />
      <article class="mx-2 my-2 px-2 py-2" style="font-size: larger">
        <div align="center" class="embed-container">
          <img
            class="image"
            src="{{url_for('static', filename='images/ASEAN+3posterV1.jpg')}}"
            alt="poster"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >ASEAN+3 Poster summarized key points of the program.</small
          >
        </div>
        <br />
        &ensp; &ensp; This is my second time travel to Taichung, Taiwan. Yes,
        also second time going aboard with Mahidol University. Luckily, the
        flight this time was departed on the last day of my summer semester, in
        the late night on the same day as my last class of Numerical Methods,
        but I still have to catch up the final exam later after I got back here
        in Thailand >_<. This time we were visited during the raining season, so
        we have to be prepared for being wet all the times, though we don't like
        being wet but I always keep an umbrella with me as much as possible.
        This program fee was mainly funded by public organization in Taiwan for
        sure and probably some from Tunghai University which I am not confirmed.
        I considered worth the 15K THB program fee for 15 days of program
        excluding living expenses without to pay accommodation fee. Though, I
        can say that living expenses here are about the same as in Thailand.
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/climbingTree.jpg')}}"
            alt="climbingTree"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >Tree climbing event at Tunghai University.</small
          >
        </div>
        <br />
        &ensp; &ensp; The program schedule consisted of Tree climbing event,
        Bubble tea workshop, Mochi & Honey workshop, Calligraphy, and ofcourse
        Mandarin classes which they arranged based from individual's Mandarin
        skills level that they examined us online with the tests before we
        started our program on July 23rd, 2023. Interestingly, they managed me
        into the 'B' level while B (fake name for privacy purpose), my lovely
        friend who is having a handsome Taiwanese boyfriend placed in a more
        challenge level, 'C' level, yet she was the only one among Mahidol
        students who got into this high level. Nevertheless, I believed she
        performed well in her class even though I heard she complained "It's
        hard!", yet there is no doubt because she got a (handsome) personal
        native speaker always by her side, unlike me lol. Eventhough, we rarely
        see her during the stay for the reasons that I won't say it as mainly it
        might hurt anyone who is single here, but when everyone needs her to be
        a Mandarin to Thai/Eng translator, she did a really great job after all.
        Really, 2 weeks of classes managed to have 1 verbal test and 2 written
        tests in my class, and a written test was held in the very last class in
        which I think it was the easiest test among all of them.
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/withFriendAndLangPart.jpeg')}}"
            alt="withFriendAndLangPart"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >Me, my friend and my language partner.</small
          >
        </div>
        <br />
        &ensp; &ensp; Hello, my language partner! ​Unfortunately, we haven't
        hangout that often because she had to be home not so late. The reason
        behind that was she had to travel around 2 hours back and forth to
        Taichung and Taipei everytime we had activities with language partner.
        Honestly, I very appreciated her afford to participate in this program.
        At least we were having meals and hangout at Carrefour (家樂福)
        together.
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/withHighspeedTrain.jpeg')}}"
            alt="withHighspeedTrain"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray">Me with High-speed Train.</small>
        </div>
        <br />
        &ensp; &ensp; Visiting Taiwan this time was a chance for me to travel in
        parts of the island, North in Taipei, Central in Taichung, and South in
        Kaohsiung, except East side of the island that I haven't been to. We
        were traveled to Taipei on the first Saturday with another 4 friends by
        bus. Because we have only a day to spend in Taipei technically, but in
        reality, we have around 5-6 hours to spend. We started the trip with a
        meal at subway around noontide. Then, we headed to Longshan temple
        (龍山寺), and National Taiwan Museum (台灣國立博物館). After that, we go
        have to refill the energy with spicy Korean chicken. Before we have to
        go back to the campus, we go checked out Ximending (西門町). Even with a
        tight schedule, we were having fun in Taipei this time, and in the
        future I might come back to visit Taipei again, especially temples, lol.
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/cannonAtXiongzhenNorthGate.jpg')}}"
            alt="cannonAtXiongzhenNorthGate"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >Me and a Cannon at Xiongzhen North Gate</small
          >
        </div>
        <br />
        &ensp; &ensp; Due to the fact that our program is held during summer
        break for Tunghai University's students, so not many people here in the
        campus. But at least I managed to have a lunch together with friends
        that I made from last time's program with her mom. What a pity that I
        did not manage to have a group photo that day. However, I was happy to
        see my friends there! It's my pleasure that one of my friend and her mom
        offer me to visit their hometown, Kaohsiung. So, I accepted their
        invitation. Trip to Kaohsiung was not just me, my friend and her mom,
        there was my roommate, also my friend, accompanied. We arrived there by
        High-speed train and the MRT, then they both drove us to travel in the
        city. The trip was begin with the local meal at the very famous local
        restuarant, The British Consulate at Takow (打狗英國領事館), Xiongzhen
        North Gate（雄鎮北門）, another local meal, a beach and market that we
        have to take a ferry to go to another side of the land, and ending with
        a noodle and local dessert. Thank you you two again for the amazing
        trip!
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/buddhaImage.jpeg')}}"
            alt="buddhaImage"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >Buddha Image in the place that we had bubble tea workshop.</small
          >
        </div>
        <br />
        &ensp; &ensp; I would like to say Thank you to every parties involved in
        organizing this amazing trip! Also, Thank you everyone who was the part
        of the good memories during the program! See you again in the next one!
      </article>

      <p class="my-3" style="color: orangered">
        P.S.II Source for images & videos are here:
        <a
          href="https://drive.google.com/drive/folders/16aAPZ_axyy0QDr9xpg3ZEzsPdNeyxYEg?usp=sharing"
          target="_blank"
          >Click here!</a
        >
      </p>
      KITTIPICH AIUMBHORNSIN <br />
      FACULTY OF INFORMATION AND COMMUNICATION TECHNOLOGY, MAHIDOL UNIVERSITY
      <br />
      SEPTEMBER 13, 2023
      <br />
      <br />
      <hr class="my-1" />
      <footer align="center">THANK YOU!</footer>
      <br />
    </main>

    {% endblock %}
  </body>
</html>
