<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LC Blogs - Index</title>
    {% extends 'root.html' %}
  </head>
  <body>
    {% block body %}
    <div id="another-blog" class="py-1 mx-3 my-3" align="center">
      <h1 style="font-size: xx-large">LukeCreated Blogs - Index</h1>
      <br />
      <a
        class="btn btn-primary"
        type="button"
        style="color: greenyellow"
        href="https://blogs.lukecreated.com/view/1"
        >UPs+ Spring Program 2023 in Taiwan</a
      >
      <br />
      <a
        class="btn btn-primary"
        type="button"
        style="color: greenyellow"
        href="https://blogs.lukecreated.com/view/2"
        >ASEAN+3 Mobility Program 2023 EP.01 - Taiwan</a
      >
    </div>
    {% endblock %}
  </body>
</html>
