<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LC Blogs - Index</title>
    {% extends 'root.html' %}
  </head>
  <body>
    {% block body %}
    <div id="blogxIndex" class="px-2 py-2 mx-3 my-3" align="center">
      <h1
        style="
          font-size: xx-large;
          color: navy;
          font-weight: bold;
          font-size: xx-large;
        "
      >
        LukeCreated Blogs - Index
      </h1>
      <br />
      <p class="mx-1 my-1" align="center">
        Please click on the blog you would like to see from the table below.
      </p>
      <table class="table table-warning table-hover border border-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Last updated</th>
            <th scope="col">By</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success" onclick="window.location='view/1';">
            <th scope="row">1</th>
            <td>UPs+ Spring Program 2023 in Taiwan</td>
            <td>September 13, 2023</td>
            <td>Luke</td>
          </tr>

          <tr class="table-primary" onclick="window.location='view/2';">
            <th scope="row">2</th>
            <td>ASEAN+3 Mobility Program 2023 EP.01 - Taiwan</td>
            <td>September 13, 2023</td>
            <td>Luke</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="my-2" align="center">LukeCreated Blogs (temp version):{{info}}</p>
    <h3
      align="center"
      class="my-3"
      style="color: lightblue; font-weight: bolder; font-size: xx-large"
      onclick="window.location='https://www.lukecreated.com';"
    >
      LukeCreated
    </h3>
    {% endblock %}
  </body>
</html>
