<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LC Blogs: UPs+ Spring Program 2023</title>
    {% extends 'root.html' %}
  </head>
  <style>
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }
    .embed-container iframe,
    .embed-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <body>
    {% block body %}
    <br />
    <main class="mx-3 my-3">
      <h1
        style="color: navy; font-weight: bold; font-size: xx-large"
        onclick="window.location='https://www.lukecreated.com';"
      >
        LukeCreated
      </h1>
      <h1 onclick="window.location='https://blogs.lukecreated.com';">
        LC Blogs
      </h1>
      <h2>Blogs: UPs+ Spring Program 2023 in Taiwan</h2>
      <hr class="my-1" />
      <article class="mx-2 my-2" style="color: crimson" id="metaData">
        <span style="font-weight: bold">Content Info:</span>
        <ul>
          <li>Writen by: KITTIPICH "Luke" AIUMBHORNSIN</li>
          <li>Content last updated on: MAY 21, 2023</li>
          <li>Content available in: English</li>
          <li>Blog last updated: September 13, 2023</li>
        </ul>
        <a
          style="color: green"
          href="https://drive.google.com/drive/folders/1tFzAWS_7SMjLdvzQW5Y38LN-upwSgswI?usp=sharing"
          target="_blank"
          ><u>Click to see Pictures & Videos</u></a
        ><br />
        <a href="#vlogs">Jump to Vlogs</a>
      </article>
      <hr />
      <div id="another-blog" class="py-1" align="center">
        You might interest in... <br />
        <a
          class="btn btn-primary"
          type="button"
          style="color: greenyellow"
          href="https://blogs.lukecreated.com/view/2"
          >ASEAN+3 Mobility Program 2023 EP.01 - Taiwan</a
        >
      </div>
      <hr />
      <article class="mx-2 my-2 px-2 py-2" style="font-size: larger">
        <div align="center" class="embed-container">
          <img
            class="image"
            src="{{url_for('static', filename='images/UPs+2023posterV3.jpeg')}}"
            alt="poster"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >UPs+2023 Poster summarize key points of the program.</small
          >
        </div>
        <br />

        &ensp; &ensp; I have received a couple emails in February on exchange
        program in Taiwan. At that time, I thought this might be a good chance
        for me. Though, I looked at the emails and found out that most of them
        is impossible for me to apply due to that I have not met their
        requirements, perhaps the requirements are quite high for them to
        guarantee that would get top-level students participated which I am not
        even have rights to claim that I am also qualified to be ‘top-level’
        student back then based on the requirements - (and probably now, lol)
        Fortunately, I found one email, I read it and consider whether do I
        qualified to apply, and the answer was ‘YES’, so I applied, and
        everything started here. <br />
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/lukeAtMuseum.jpg')}}"
            alt="lukeAtMuseum"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >Me, at National Museum of Natural Science
            (國立自然科學博物館).</small
          >
        </div>
        <br />
        &ensp; &ensp;​The program was hosted by Mahidol University International
        Relations Division and Tunghai University in Taichung, Taiwan. After I
        have applied and got exchange quota confirmation on this exchange
        program, UPs+ 2023 Taiwan, is the time to get prepared for the exciting
        exchange program, although the time given was quite short and everything
        must almost suddenly be done. However, staffs from the International
        Relations Division and Teacher are ready to help every participant if
        there is any problem happened in any stage, from program registration to
        getting the certificate after back here in Thailand. <br />
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/meAndFriendsAtHouFeng.jpg')}}"
            alt="meAndFriendsAtHouFeng"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >Me, and friends at HouFeng Bikeway (后豐鐵馬道).</small
          >
        </div>
        <br />
        &ensp; &ensp; ​Once the plane was touched the Taiwan’s ground, I may now
        call the trip was officially began, I had to force myself to take off
        my- Thai-thinking brain and started to kick off the hidden
        Mandarin-thinking brain, and every single second I had here were meant
        to spent to upgrade my Mandarin-thinking brain as well as learning the
        sustainable and diversity of the cultures. After we have arrived at the
        campus, we headed to the night market nearby for dinner, this market was
        one of the ‘live savers’ for us for the rest of the trip. Since I and
        couple of my friends have some Mandarin fundamental skills, we were
        arranged to attend more advanced classes. Apart from Mandarin classes,
        we all were attended Tea ceremony class, Taiwan cultures and history,
        and business Mandarin. We weren’t just study, almost every single day we
        spent in Taiwan, we traveled to many places in Taichung, a city where
        the campus is located in. Places like Taichung National Theatre, Gaomei
        Wetlands (高美溼地) which is known as the place to enjoy the stunning
        sunsets, National Museum of Natural Science, Feng Chia Night Market, and
        more. My favorite places in campus are the canteen that sit next to the
        campus’s gate and the hall next to it, to be specified should be a desk
        located in/out the hall close to that canteen. The reasons are that
        canteen is the place where I frequently go to get my starvation gone
        even though that I could go to the night market next to the campus and
        the market which probably closer to the canteen from the Alumni House,
        the place I live, and the hall reminds me a lot of good memories I have
        during my stay. The magic of this canteen is Jiajiakuaican (佳佳快餐) or
        in short, Jiajia (佳佳), Jiajia is a fast-food restaurant that offers
        rice with a combination of main dishes that you can demand from provided
        options with one on-demand big piece of meat with the price of 80NTD,
        which I think is somehow worth in terms of the taste and how much they
        give in a plate. About the hall, it was a place that I got chances to
        talk and exchange a lot of things between my local friends, student
        buddies and I, such as things in Thailand and Taiwan, in another term is
        I developed more good friendship there, and I hope that these good
        friendships will last forever. How come I know them? I am glad that the
        program managed to have student buddies for us, and my student buddies
        are very friendly and kind. There is no doubt that student buddies are
        heavily involving in helping me getting my Mandarin communication skills
        better, to be more specified, in local Mandarin that using traditional
        characters. Human touch/human kindness (人情味) are the things that
        Taiwan people are known to be ones who have a beautiful human touch, and
        I have proven to myself that is true. Truly, not just student buddies
        that I can feel their kindness, I also get touched by the locals as well
        such as a public bus driver. Besides the conversations, student buddies
        and I were also hanging out together to many places, had a local dessert
        together, Douhua (豆花), visited a local shrine that worship an academic
        specific gods like Kongzi (孔子) – maybe I can get a better grade now,
        lol. While others were planning to visit Taiwan’s capital city, Taipei,
        on the weekend, me along with student buddies and another friend were
        planning to go ride bicycles at HouFeng Bikeway (后豐鐵馬道) in Taichung
        city. Rather than surviving in such a city, I would prefer to enjoy the
        gorgeous of nature along the Bikeway. <br />
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/viewAtGaomei.jpg')}}"
            alt="viewAtGaomei"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray"
            >A beautiful sunset at Gaomei Wetlands (高美溼地).</small
          >
        </div>
        <br />
        &ensp; &ensp; ​Unfortunately, time gone fast, and it was the time to
        head back to our motherland after around 10 days of spending, however,
        in my opinion, trip to Taiwan this time was more than ‘worth’ and
        somehow the thought of revisit was running in my mind. I encourage
        Mahidol students to consider exchange program in Taiwan especially who
        is whether deciding going exchange or not or whether hesitating to
        exchange to Taiwan or someplace else, I would cheer you click apply on
        the exchange program and personally suggest Taiwan as a destination.
        <br />
        <div align="center" class="embed-container">
          <br />
          <img
            class="image"
            src="{{url_for('static', filename='images/teaCeremony.jpg')}}"
            alt="teaCeremony"
            loading="lazy"
            height="auto"
            width="365"
          />
          <br />
          <small style="color: gray">Tea ceremony.</small>
        </div>
        <br />
        &ensp; &ensp; With the chances to explore and attempt to understand
        diversity of the cultures can help we as a part of this world live more
        peacefully and in harmony as we can find another beautifulness in this
        world. Once we understand the diversity and being in harmony to each
        other, the more chances of getting closer to sustainable lifestyle we
        can achieve. Lastly, I appreciated and would like to say Thank you to
        every party who involved in this exchange program, my parents and
        everyone who supported me, along with local friends, student buddies and
        friends who are parts of this amazing memories.
      </article>
      <p class="my-3" style="color: navy">
        P.S. Tunghai University also posted our visit on their website here:
        <a
          href="https://www.thu.edu.tw/web/news/news_detail.php?cid=8&id=3743"
          target="_blank"
          >Click here!</a
        >
      </p>
      <p class="my-3" style="color: orangered">
        P.S.II Source for images & videos are here:
        <a
          href="https://drive.google.com/drive/folders/1tFzAWS_7SMjLdvzQW5Y38LN-upwSgswI?usp=sharing"
          target="_blank"
          >Click here!</a
        >
      </p>
      <div class="my-3" style="color: brown" id="vlogs">
        <div class="embed-container">
          P.S.III My friends' Vlogs on the program:
          <ul>
            <li>
              <iframe
                id="vdo-oum1"
                src="https://www.youtube.com/embed/-9-LPAqxkIY"
                title="Vlog Day1 in Taiwan with Mahidol University students"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li>
              <iframe
                id="vdo-oum2"
                src="https://www.youtube.com/embed/lb-dE6YmM8c"
                title="Survive &amp; Study in Taiwan: Vlog 2 : Day 2-4"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li>
              <iframe
                id="vdo-jah1"
                src="https://www.youtube.com/embed/fSwvd8UtHsE"
                title="Taiwan Vlog EP.1 | นักเรียนแลกเปลี่ยนได้มาเรียนที่ไต้หวัน🙍🏻‍♀️🇹🇼"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
            <li>
              <iframe
                id="vdo-jah2"
                src="https://www.youtube.com/embed/0Nj0CuyDY_Y"
                title="Taiwan Vlog EP.2 | Night Markets in Taichung🙍🏻‍♀️🇹🇼"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
              ></iframe>
            </li>
          </ul>
        </div>
      </div>
      KITTIPICH AIUMBHORNSIN <br />
      FACULTY OF INFORMATION AND COMMUNICATION TECHNOLOGY, MAHIDOL UNIVERSITY
      <br />
      MAY 21, 2023
      <br />
      <br />
      <hr class="my-1" />
      <footer align="center">THANK YOU!</footer>
      <br />
    </main>
    {% endblock %}
  </body>
</html>
